__pycache__/printers.cpython-312.pyc
__pycache__/configurations.cpython-312.pyc
__pycache__/helpers.cpython-312.pyc
__pycache__/classes.cpython-312.pyc
stations_image.png
images/station_coverage_initial.png
images/station_coverage_refined_0.png
images/station_coverage_refined_1.png
images/station_coverage_refined_2.png
images/station_coverage_refined_3.png
images/stations_routes.png
